/*NAVBAR STYLES*/

.navbar {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #e6e6e6 !important;
}

.navbar li {
  padding-right: 2rem;
}

#active {
    color: #399bd1;
}

#active:hover {
    color: #399bd1;
}

ul {
  list-style-type: none;
}

.dropdown-item {
  border-bottom: solid 1px;
}

.dropdown-item:hover {
    color: blue;
    background-color: #e6e6e6;
}

h1 {
  text-align: center;
}

#cf{
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

.top {
  position:relative;
  height: 183%;
  width: 107%;
  margin:20 auto;
  border-radius: 5px;
}

.bottom {
  border-radius: 5px;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

#logo {
  width: 50%;
  height: 50%;
}

/*FOOTER SECTION*/

.foot {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  height: 5rem;
  background-color: #e6e6e6 !important;
  margin-left: 9rem;
  width: 960px;
  align-items: center;
}

#blklogo {
  height: 2rem;
}

.foot p {
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.fontawesome {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 1rem;
}

.fontawesome a {
  padding-left: 1rem;
  transition: 0.3s ease;
}

.fontawesome a:hover {
  color: #0099ff;
}

.fa-instagram {
  padding-top: 0.25rem;
}

.foot {
  width: 100%;
  margin-left: 0;
}

@media only screen and (max-width: 320px) {
.foot p {
    display: none;
  }
}

#blklogo {
    padding-left: 1rem;
}
